body.gray {
    background-color: #eee;
}

.filehover {
    border: 1px solid green;
}

[v-cloak] {
    display:none;
}

.bar {
    height: 18px;
    background: green;
    transition: 0.2s;
}

#file-input {
    height: 400px;
}

#file-input .middle {
    height: 100%;
}

/*.file-group {
    padding: 20px;
    margin-bottom: 10px;
    border: 3px solid black;
}*/

/*.file-upload img.preview {
    max-width: 60px;
    max-height: 60px;
}*/

main {
    margin-top: 80px;
}