input#fileupload {
    height: 200px;
    background-color: #f2f2f2;
}

.bar {
    height: 18px;
    background: green;
    transition: 0.2s;
}
[v-cloak] {
    display:none;
}
.file-upload {
    border: 1px solid #bbb;
    min-height: 50px;
    padding: 20px;
    margin-bottom: 10px;
}
.file-group {
    padding: 20px;
    margin-bottom: 10px;
    border: 3px solid black;
}

/* preview thumbnail */
.file-upload img.preview {
    max-width: 60px;
    max-height: 60px;
}